@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);


html, body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
}


.md-banner {
  height: 60px;
  background-color: #4DC964;
  display: flex;
}

.md-banner-form {
  flex-grow: 1;
  height: 100%;
}

.md-banner-form-input {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0;
  border: none;
  padding: 18px 10px;
  font-size: 24px;
  line-height: 1;
  background-color: transparent;
  color: #FFF;
}


/* Book View */
.md-chapter-list {
  margin: 0;
  padding: 0 20px 50px 0;
  list-style: none;
}

.md-chapter-item {
  width: 150px;
  height: 200px;
  float: left;
  margin: 20px 0 0 20px;
}

.md-chapter-item-anchor {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}

.md-chapter-item-anchor:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.md-chapter-item-anchor.last-visited,
.md-chapter-item-anchor:hover {
  background-color: #d6d6d6;
  text-decoration: none;
}

.md-chapter-item-title {
  font-size: 16px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}


/* Chapter */
.md-chapter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.md-chapter-page {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.md-chapter-page-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
