@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


html, body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif;
}


html, body { height: 100%; }
body {
  position: relative;
}


.md-banner {
  height: 60px;
  background-color: #27ae60;
  display: flex;
}

.md-banner-form {
  flex-grow: 1;
  height: 100%;
}

.md-banner-form-input {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0;
  border: none;
  padding: 0 18px;
  font-size: 24px;
  background-color: #27ae60;
  color: #FFF;
  transition: all 200ms;
}

.md-banner-form-input:required {
  box-shadow: none;
}

.md-banner-form-input:hover,
.md-banner-form-input:focus {
  background-color: #2ecc71;
}

.md-banner-form-input.ng-invalid-pattern:hover,
.md-banner-form-input.ng-invalid-pattern:focus {
  background-color: #e74c3c;
}

.md-banner-form-input::-webkit-input-placeholder {
  color: #FFF;
  line-height: 1.4; /* Center placeholder */
  opacity: .5;
}
.md-banner-form-input:-moz-placeholder {
  color: #FFF;
}
.md-banner-form-input::-moz-placeholder {
  color: #FFF;
}
.md-banner-form-input:-ms-input-placeholder {
  color: #FFF;
}


.md-body {
  position: absolute;
  left: 0;
  width: 100%;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
}


/* Dashboard */
.md-bookshelf {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.md-bookshelf-item {
  float: left;
  min-width: 270px;
  flex-grow: 1;
}

.md-bookshelf-item-anchor {
  width: 210px;
  height: 277px;
  display: block;
  margin: 40px auto;
}

.md-bookshelf-item-anchor:hover {
  text-decoration: none;
}

.md-bookshelf-item-image {
  display: block;
  width: 210px;
  height: 277px;
}

.md-bookshelf-item-title {
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  padding: 0 8px;
}


/* Book View */
.md-chapter-list {
  margin: 0;
  padding: 0 20px 50px 0;
  list-style: none;
}

.md-chapter-item {
  width: 150px;
  height: 200px;
  float: left;
  margin: 20px 0 0 20px;
}

.md-chapter-item-anchor {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f4f4f4;
  /*padding: 10px;*/
  text-align: center;
}

.md-chapter-item-anchor::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.md-chapter-item-title {
  font-size: 16px;
  width: 130px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.md-chapter-item-anchor.last-visited,
.md-chapter-item-anchor:hover {
  background-color: #d6d6d6;
  text-decoration: none !important;
}


/* Chapter */
.md-chapter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.md-chapter-page {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.md-chapter-page-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
